body {
  background: #dcf5ff;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 30%;
  background: #fff;
  border-radius: 10px;

  .inner {
    background: #00b6ff;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
    clip-path: circle(10% at 0% 0%);
    transition: clip-path 0.5s ease-in-out;

    h1 {
      color: #fff;
      margin: 0;
    }

    p {
      color: #fff;
    }
  }

  &:hover .inner {
    clip-path: circle(70%);
  }
}
